<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="img-responsive center-block">

        <%= image_tag @blog.image.url(:medium) %>
      </div>
      <h3><%= @blog.headline%></h3>

      <%= @blog.name%> | <%= @blog.created_at.in_time_zone("Pacific Time (US & Canada)").strftime "%B %d, %Y %l:%M %P"  %>
      <hr>
      <%= @blog.story%>

      <% if current_user %>
      <p><%= link_to "Edit", edit_blog_path(@blog), :method => 'get' %></p>
      <p><%= link_to "Delete", blog_path(@blog), :method => 'delete' %></p>
      <% end %>
      <br>
      <br>
      <p>
        <%= link_to "Return to home", root_path %>
      </p>



    </div>
  </div>
</div>
