<div class="main-search-banner">
  <div class="video-container">
    <div class="row">
      <video autoplay loop id="bgvid">
        <source src="/videos/beer.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
<div class="blankcontainer">

</div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
      <% @blogs.each do |blog| %>
      <div class="col-md-2">
        <div class="thumbnail">
        <%= image_tag blog.image.url(:medium) %>
        </div>
      </div>
      <div class="col-md-6">

        <strong><%= blog.headline %></strong> | <%= blog.name %>
        <br>
        <br>
        posted on <%= blog.created_at.in_time_zone("Pacific Time (US & Canada)").strftime "%B %d, %Y %l:%M %P"  %>
        <br>
        <br>
        <%= blog.story %>
        <br>
        <hr>
      </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <p>
          Steph Curry is a better team player than LeBron.
        </p>
      </div>
    </div>
  </div>
